<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, enim
    numquam quibusdam mollitia odit facere atque omnis, soluta nam rem ipsam
    maxime, rerum explicabo veniam eos. Ipsa fuga blanditiis atque.
  </p>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/pico-preview">Pico Preview</a>
      </li>
      <li>
        <a routerLink="/people">People</a>
      </li>
      <li>
        <a routerLink="/other">Others</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
